<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>

    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!--<link rel="stylesheet" href="css/bootstrap.min.css">-->
    <!--    <link rel="stylesheet" href="adminLTE/css/AdminLTE.css">
        <link rel="stylesheet" href="js/adminLTE/css/skins/_all-skins.min.css">-->
    <!--<link rel="stylesheet" href="css/style.css">-->
    <!--    <link rel="stylesheet" href="js/angularjs/toaster.min.css">-->
    <!--<script src="js/jQuery/jquery-2.2.3.min.js"></script>
    <script src="js/plugins/bootstrap/js/bootstrap.min.js"></script>
-->
    <!--联网引入-->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        html{
            width: 95%;
        }
        table{
            border: 1px solid #80bdff;
        }
    </style>


    <!--查询和模糊查询-->
    <script type="text/javascript">

        var page;
        var qian;//前
        var hou;//后

        $(function () {
            retrieval()
        })

        function retrieval(pageNum){

            $("#tbody").empty();

            var userId = $("#user_id").val();//id
            var userAccount = $("#user_account").val();//name
            var userSex = $("#user_sex").val();//性别
            var userPhone = $("#user_phone").val();//电话
            var userEmail = $("#user_email").val();//邮箱
            var password = $("#password").val();//密码
            var hospitalDepartmentName = $("#hospital_department_name").val();//科室

            $.ajax({
                url:"SystemManagementController/lists",
                type:"post",
                data:{
                    "userId":userId,
                    "userAccount":userAccount,
                    "userSex":userSex,
                    "userPhone":userPhone,
                    "userEmail":userEmail,
                    "password":password,
                    "hospitalDepartmentName":hospitalDepartmentName,
                    "pageNum":pageNum
                },
                dataType:"json",
                success: function (list1) {
                    console.log(list1);
                    var ss = "";
                    for (var i = 0; i < list1.list.length; i++) {
                        ss = "<tr><td><input type=\"checkbox\" style='width: 40px;' class=\"checkboxxia\" onclick=\"xiaOnclick()\" value=" + list1.list[i].id + "></td><td>"
                            + list1.list[i].userId +"</td><td>"
                            + list1.list[i].userAccount +"</td><td>"
                            + (list1.list[i].userSex ==1?"男":"女") +"</td><td>"
                            + list1.list[i].userPhone +"</td><td>"
                            + list1.list[i].userEmail +"</td><td>"
                            /*+ list1.list[i].password +"</td><td>"*/
                            + list1.list[i].hospitalDepartmentName +"</td></tr>"

                        $("#tbody").append(ss);
                        qian=list1.pageNum==1?1:list1.pageNum-1;
                        hou=list1.pageNum==list1.pages?list1.pages:list1.pageNum+1;

                    }
                }
            })

            // 科室
            $.ajax({
                url:"SystemManagementController/seleDepartment",
                data:{},
                type:"post",
                dataType:"json",
                success:function (result) {
                    console.log(result);
                    $("#hospital_department_id").empty();
                    $("#hospital_department_id").prepend('<option value="0">请选择</option>')
                    for(var i=0;i<result.length;i++){;
                        var list=result
                        $("#hospital_department_id").prepend('<option value="' + list[i].hospitalDepartmentId + '">' + list[i].hospitalDepartmentName + '</option>')
                        $("#hospital_department_id1").prepend('<option value="' + list[i].hospitalDepartmentId + '">' + list[i].hospitalDepartmentName + '</option>')
                        $("#hospital_department_id2").prepend('<option value="' + list[i].hospitalDepartmentId + '">' + list[i].hospitalDepartmentName + '</option>')
                    }
                }
            })
        }
    </script>


    <!--新增-->
    <script type="text/javascript">
         function save() {

             var userId = $("#user_id1").val();//id
             var userAccount = $("#user_account1").val();//name
             var userSex = $("#user_sex1").val();//性别
             var userPhone = $("#user_phone1").val();//电话
             var userEmail = $("#user_email1").val();//邮箱
             var password = $("#password1").val();//密码
             var hospitalDepartmentName = $("#hospital_department_id1").val();//科室

             alert(hospitalDepartmentName);

             $.ajax({
                 url: "SystemManagementController/insert",
                 type: "post",
                 data:{
                     "userId":userId,
                     "userAccount":userAccount,
                     "userSex":userSex,
                     "userPhone":userPhone,
                     "userEmail":userEmail,
                     "password":password,
                     "hospitalDepartmentName":hospitalDepartmentName
                 },
                 dataType: "json",
                 success: function (insert) {
                     if(insert != 0){
                         alert("添加成功");
                         window.location.reload();
                     }else{
                         alert("添加失败");
                     }
                 }
             })
         }
     </script>


    <!--修改回显-->
    <script type="text/javascript">
        /*        function seleUpdate(){
                    $.ajax({
                        url:"SystemManagementController/seleUpdate",
                        type:"post",
                        dataType:"json",
                        data:{
                            id : id
                        },
                        success:function (seleUpdate) {

                            $("#qqq").val(seleUpdate.id);
                            $("#user_id2").val(seleUpdate.userId);
                            $("#user_account2").val(seleUpdate.userAccount);
                            $("#user_sex2").val(seleUpdate.userSex);
                            $("#user_phone2").val(seleUpdate.userPhone);
                            $("#user_email2").val(seleUpdate.userEmail);
                            $("#password2").val(seleUpdate.password);
                            $("#hospital_department_name2").val(seleUpdate.hospital_department_name);
                        }
                    })
                }*/

        /*修改更新*/
        /*function saveUpdate() {
            $.ajax({
                url:"SystemManagementController/saveUpdate",
                type:"post",
                data: $("#yy").serialize(),

                success:function (saveUpdate) {
                    if(saveUpdate != 0){
                        alert("修改成功");
                        window.location.reload();
                    }else{
                        alert("修改失败");
                    }
                }
            })
        }*/
    </script>

    <!--<script type="text/javascript">

        /*批量删除*/
        function xiaOnclick() {
            var clickpool = true;
            $.each($(".checkboxxia"),function(index,item){
                if($(item).prop("checked")==false)clickpool=false;
            })
            $("#checkboxMain").prop("checked",clickpool)
        }

        function mainOnclick() {
            $.each($(".checkboxxia"),function(index,item){
                $(item).prop("checked",$("#checkboxMain").prop("checked"));
            })
        }

        function deleteALL() {
            var bool = false;
            var list = new Array();
            /*var st="";*/
            $.each($("input[class='checkboxxia']:checkbox:checked"),function(index,item){
                list.push($(item).val());

                /*st+=$(item).val()+",";*/

                /*console.log($(item).val());*/
                bool = true;
            });

            if(true){
                if (confirm("确定要删除吗?")){
                    $.ajax({
                        type:"GET",
                        url:"removeByKeys",
                        dataType:"json",
                        data:{"list":list}, // 传输一个list集合包含所选框的id,,,,也可以传一个st到后台data:{"list":st},
                        success:function (result) {
                            var b = result;
                            if (result > 0){
                                alert("删除成功!");
                                window.location.reload();
                            }else{
                                alert("删除失败!");
                            }
                        }
                    })
                }
            }
        }

    </script>-->

</head>

<body>



    <!--用户管理-->
    <span style="font-size:30px; font-weight:800;color: blue;margin-top: 15px;margin-left: 80px;">用户管理</span>

<div style="margin-left: 80px;margin-top: 15px;">

    <table class="table" style="background:beige;" border="0" >
        <div  class="main-menu" style="text-align: center">
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">用户ID：</span>
                </td>
                <td >
                    <input style="height: 34px;width: 55%" class="form-control" id="user_id" name="userId">
                </td>

                <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">姓名：</span>
                </td>
                <td >
                    <input style="height: 34px;width: 55%" class="form-control" id="user_account" name="userAccount">
                </td>
            </tr>
            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">性别：</span>
                </td>
                <td>
                    <select style="width: 55%;height: 34px;" id="user_sex" name="userSex">
                        <option value="0">请选择</option>
                        <option value="1">男</option>
                        <option value="2">女</option>
                    </select>
                </td>

                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">电话：</span>
                </td>
                <td>
                    <input style="height: 34px;width: 55%" class="form-control" id="user_phone" name="userPhone">
                </td>
            </tr>

            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">邮箱：</span>
                </td>
                <td>
                    <input style="height: 34px;width: 55%" class="form-control" id="user_email" name="userEmail">
                </td>

                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">密码：</span>
                </td>
                <td>
                    <input style="height: 34px;width: 55%" class="form-control" id="password" name="password">
                </td>
            </tr>

            <tr>
                <td style="text-align: right">
                    <span style="white-space: nowrap;display: inline-block;color: #0E74B4">科室：</span>
                </td>
                <td>
                    <select style="width: 55%;height: 34px;" id="hospital_department_id" name="hospitalDepartmentName">
                        <option value="0">请选择</option>
                    </select>
                </td>
            </tr>
        </div>

    </table>

    <div style="text-align: center;padding-top: 0px">
        <button type="button" class="btn btn-success btn-sm" onclick="retrieval()">检索</button>
        <button type="button" class="btn btn-success btn-sm" onclick="empty()">清空</button>
    </div>


    <br><br>
    <!--    <button class="btn btn-info">创建模板</button>-->
    <div style="text-align: left;padding-top: 0px">
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                data-target="#editModal" onclick="">新增</button>
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                data-target="#editModa2" onclick="">修改</button>
        <button type="button" class="btn btn-success btn-sm" onclick="">删除</button>
    </div>
    <table class="table table-bordered" style="text-align: center;">
        <thead >
        <tr class="info" >
            <th><input type="checkbox" id="checkboxMain" onclick="mainOnclick()" value=''></th>
            <th style="text-align: center;">用户ID</th>
            <th style="text-align: center;">用户姓名</th>
            <th style="text-align: center;">性别</th>
            <th style="text-align: center;">电话</th>
            <th style="text-align: center;">邮箱</th>
            <th style="text-align: center;">科室</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr class="active">
            <th><input type="checkbox" id="checkboxMain2" onclick="mainOnclick()" value=''></th>
            <td>122132</td>
            <td>赵四</td>
            <td>男</td>
            <td>123232323</td>
            <td>test@263.net</td>
            <td>内分泌科</td>
        </tr>
        <!--<tr class="active">
            <th><input type="checkbox" id="checkboxMain1" onclick="" value=''></th>
            <td>123456</td>
            <td>赵四</td>
            <td>女</td>
            <td>赵四</td>
            <td>test@263.net</td>
            <td>内分泌科</td>
        </tr>-->
        </tbody>
    </table>

    <!--新增-->

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="bt1" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">新增用户</h3>
                </div>
                <table class="table" style="background:beige;" border="0" >
                    <div  class="main-menu" style="text-align: center">
                        <tr>
                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">用户ID：</span>
                            </td>
                            <td >
                                <input style="height: 34px;width: 55%" class="form-control" id="user_id1" name="userId">
                            </td>

                            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">姓名：</span>
                            </td>
                            <td >
                                <input style="height: 34px;width: 55%" class="form-control" id="user_account1" name="userAccount">
                            </td>
                        </tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">性别：</span>
                        </td>
                        <td>
                            <select style="width: 55%;height: 34px;" id="user_sex1" name="userSex">
                                <option value="0">请选择</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </td>

                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">电话：</span>
                        </td>
                        <td>
                            <input style="height: 34px;width: 55%" class="form-control" id="user_phone1" name="userPhone">
                        </td>

                        <tr>
                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">邮箱：</span>
                            </td>
                            <td>
                                <input style="height: 34px;width: 55%" class="form-control" id="user_email1" name="userEmail">
                            </td>

                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">密码：</span>
                            </td>
                            <td>
                                <input style="height: 34px;width: 55%" class="form-control" id="password1" name="password">
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">科室：</span>
                            </td>
                            <td>
                                <select style="width: 55%;height: 34px;" id="hospital_department_id1" name="hospitalDepartmentName">
                                    <option value="0">请选择</option>
                                </select>
                            </td>
                        </tr>
                    </div>

                </table>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="save()" data-dismiss="modal" >保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>


    <!--修改-->

    <div class="modal fade" id="editModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="bt2" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabe2">修改用户信息</h3>
                </div>
                <table class="table" style="background:beige;" border="0" >
                    <div  class="main-menu" style="text-align: center">
                        <tr>
                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">用户ID：</span>
                            </td>
                            <td >
                                <input style="height: 34px;width: 55%" class="form-control" id="user_id2" name="userId">
                            </td>

                            <td style="text-align: right"><span style="white-space: nowrap;display: inline-block;color: #0E74B4">姓名：</span>
                            </td>
                            <td >
                                <input style="height: 34px;width: 55%" class="form-control" id="user_account2" name="userAccount">
                            </td>
                        </tr>
                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">性别：</span>
                        </td>
                        <td>
                            <select style="width: 55%;height: 34px;" id="user_sex2" name="userSex">
                                <option value="0">请选择</option>
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </td>

                        <td style="text-align: right">
                            <span style="white-space: nowrap;display: inline-block;color: #0E74B4">电话：</span>
                        </td>
                        <td>
                            <input style="height: 34px;width: 55%" class="form-control" id="user_phone2" name="userPhone">
                        </td>

                        <tr>
                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">邮箱：</span>
                            </td>
                            <td>
                                <input style="height: 34px;width: 55%" class="form-control" id="user_email2" name="userEmail">
                            </td>

                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">密码：</span>
                            </td>
                            <td>
                                <input style="height: 34px;width: 55%" class="form-control" id="password2" name="password">
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right">
                                <span style="white-space: nowrap;display: inline-block;color: #0E74B4">科室：</span>
                            </td>
                            <td>
                                <select style="width: 55%;height: 34px;" id="hospital_department_id2" name="hospitalDepartmentName">
                                    <option value="0">请选择</option>
                                </select>
                            </td>
                        </tr>
                    </div>

                </table>
                <div class="modal-footer">
                    <button class="btn btn-success" onclick="baoCun()" id="djh" data-dismiss="modal" >保存修改</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消修改</button>
                </div>
            </div>
        </div>
    </div>




    <div style="text-align: center">
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#" onclick="retrieval(1)">1</a></li>
            <li><a href="#" onclick="retrieval(2)">2</a></li>
            <li><a href="#" onclick="retrieval(3)">3</a></li>
            <li><a href="#" onclick="retrieval(4)">4</a></li>
            <li><a href="#" onclick="retrieval(5)">5</a></li>
            <li><a href="#" >&raquo;</a></li>
        </ul>
    </div>
    </table>

</div>
</body>
</html>