<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>高级检索</title>
		<style type="text/css">
			.a{
				color: #1E90FF;	
				margin-left: 220px;
				margin-top: -10px;
			}
			.aa{
			    background-color:  lightblue;
			    width: auto;
			    height: 65px;
			}
			.bb{
				background-color: lightblue;
				width: auto;
				height: 15px;
				position: absolute;
				margin-left:550px;
				margin-top: -10px;
			}
			.bb a{
				color: #8F949a;
				font-size: 15px;
				text-decoration:none;
			}
			.bb .e{
				
			}
			hr{
				background-color:papayawhip;
				height: 1px;
				border: none;
			}
			.cc{
				text-align: center;
				margin: 0 auto;
			}
			table{
				width: 900px;
				height: 50px;
				border: 1px;
				border-collapse: collapse;
				
			}
			th{
				background-color:#1E90FF ;
				color: white;
			}
			td{
				text-align: center;
			}
			li{
				list-style: none;
			}
			li a{
				color: #8F949a;
				font-size: 10px;
				text-decoration:none;
			}
			#show{
				width: 75px;
				background-color: whitesmoke;
				position: absolute;
				margin-top: -400px;
				margin-left: 860px;
			}
			#hide{
				position: absolute;
				margin-top: -400px;
				margin-left: 960px;
				background-color: whitesmoke;
				width:45px ;
			}
			ul {
				margin: 0;
				padding: 0;
				border: 0;
			}
		</style>
		<script type="text/javascript">
			function btn() {
				var show = document.getElementById("show");
				if (show.style.display == '') {
					show.style.display = 'none';
				} else {
					show.style.display = '';
				}

			}
			function bbn() {
				var hid = document.getElementById("hide");
				if (hid.style.display == '') {
					hid.style.display = 'none';
				} else {
					hid.style.display = '';
				}
			}
		</script>
	</head>
	<body>
		<div>
		  <div class="aa">
            <div>
                <div >   
                </div>
                <div id="a">
                	<h2 class="a">随访管理系统</h2>
                </div>
            </div>
            <div class="bb">
                <a href= "#" class="b">随访进度管理</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href= "#" class="c">数据复核</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href= "#" class="d">分组管理</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href= "#" id="e" class="e" onclick="btn()">系统设置∨</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <a href= "#" id="f" class="f" onclick="bbn()">张三∨</a>
            </div>
           </div>
           <br />
           <span><a href="#">返回随访组</a></span>
           <span style="font-size: 20px;color: #1E90FF; text-align: center; display:block;margin-top: -20px;">随访组标题</span>
           <hr style="background-color: burlywood;"/>
           <div class="cc">
           		<span>条件：</span>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<select id="s1" style="width: 200px;">
           			<option value="">-请选择-</option>
           			<option value="">姓名</option>
           			<option value="">住院号</option>
           			<option value="">白细胞</option>
           			<option value="">血糖</option>
           			<option value="">症状</option>
           			<option value="">诊断</option>
           			<option value="">手术名称</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<select>
           			<option>等于</option>
           			<option>大于</option>
           			<option>小于</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<input style="width: 200px;"/><br /><br />
           		<select>
           			<option>并且</option>
           			<option>或者</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;</span>
           		<select id="s2" style="width: 200px;">
           			<option value="">-请选择-</option>
           			<option value="">姓名</option>
           			<option value="">住院号</option>
           			<option value="">白细胞</option>
           			<option value="">血糖</option>
           			<option value="">症状</option>
           			<option value="">诊断</option>
           			<option value="">手术名称</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<select>
           			<option>等于</option>
           			<option>包含</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<input style="width: 200px;"/><br /><br />
           		<select>
           			<option>并且</option>
           			<option>或者</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;</span>
           		<select id="s3" style="width: 200px;">
           			<option value="">-请选择-</option>
           			<option value="">姓名</option>
           			<option value="">住院号</option>
           			<option value="">白细胞</option>
           			<option value="">血糖</option>
           			<option value="">症状</option>
           			<option value="">诊断</option>
           			<option value="">手术名称</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<select>
           			<option>等于</option>
           			<option>包含</option>
           		</select>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<input style="width: 200px;"/><br /><br />
           		<span>结果：</span>
           		<select id="s4" style="width: 300px;">
           			<option>-请选择-</option>
           			<option>并发症名称</option>
           			<option>手术术式信息</option>
           			<option>检查报告内容</option>
           		</select>
           		<a href="#">设置检索结果模板</a>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<button style="background-color: #1E90FF; color: white;border: none;width: 60px;">检索</button>
           </div>
           <br /><br />
           <div>
           		<input type="checkbox" />
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<button style="background-color: #1E90FF; color: white;border: none;width: 60px;">编辑</button>
           		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
           		<button style="background-color: #1E90FF; color: white;border: none;width: 60px;">删除</button>
           		<br /><br />
           		<table height="50px" width="500px" border="1px" style="border-collapse: collapse;">
           			<tr>
           				<th></th>
           				<th>门诊号/住院号</th>
           				<th>姓名</th>
           				<th>性别</th>
           				<th>年龄</th>
           				<th>入组日期</th>
           				<th>手术日期</th>
           				<th>手术术式</th>
           				<th>手术操作者</th>
           				<th>查看</th>
           			</tr>
           			<tr>
           				<td><input type="checkbox"/></td>
           				<td>430022</td>
           				<td>马小六</td>
           				<td>男</td>
           				<td>30</td>
           				<td>2020-07-01</td>
           				<td>2020-07-03</td>
           				<td>闭式引流</td>
           				<td>刘大夫</td>
           				<td><img src=""></td>
           			</tr>
           			<tr>
           				<td><input type="checkbox"/></td>
           				<td>430022</td>
           				<td>马小六</td>
           				<td>男</td>
           				<td>30</td>
           				<td>2020-07-01</td>
           				<td>2020-07-03</td>
           				<td>闭式引流</td>
           				<td>刘大夫</td>
           				<td><img src=""></td>
           			</tr>
           			<tr>
           				<td><input type="checkbox"/></td>
           				<td>430022</td>
           				<td>马小六</td>
           				<td>男</td>
           				<td>30</td>
           				<td>2020-07-01</td>
           				<td>2020-07-03</td>
           				<td>闭式引流</td>
           				<td>刘大夫</td>
           				<td><img src=""></td>
           			</tr>
           			
           		</table>
           </div>
		</div>
		<div id="show" style="display: none">
			<ul>
				<li><a href="#">权限管理</a></li>
				<li><a href="#">标准化模板维护</a></li>
				<li><a href="#">表单总览</a></li>
				<li><a href="#">术语管理</a></li>
				<li><a href="#">用户管理</a></li>
			</ul>
		</div>
        <div id="hide" style="display: none">
        	<ul>
        		<li><a href="#">账户设置</a></li>
        		<li><a href="#">注销</a></li>
        	</ul>
        </div>
	</body>
</html>