<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>随访组管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jcDate.css">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper.js/umd/popper.min.js"> </script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/angularjs/angular.min.js"></script>
    <script type="text/javascript">
        var result = null;
       $(function () {
            reloadList();
        })
        /*查询所有随访组信息*/
        function reloadList(pageNum) {
            $("#tbody").empty();
            $("#page").empty();
            var followUpPrincipal = $("#followUpPrincipal").val();
            var hospitalDepartmentChildName = $("#hospitalDepartmentChildName").val();
            var followUpStatus = $("#followUpStatus").val();
            var followUpCreateTime1 = $("#followUpCreateTime1").val();
            var followUpCreateTime2 = $("#followUpCreateTime2").val();
            $.ajax({
                url:"findFollowManagementAll",
                data:{
                    "followUpPrincipal":followUpPrincipal,
                    "hospitalDepartmentChildName":hospitalDepartmentChildName,
                    "followUpStatus":followUpStatus,
                    "followUpCreateTime1":followUpCreateTime1,
                    "followUpCreateTime2":followUpCreateTime2,
                    "pageNum":pageNum
                },
                type:"post",
                dataType:"json",
                success:function(data){
                    result = data.list;
                    var style = "";
                    var grateStyle = "";
                    var followUpStatus = "";
                    var v = "";
                    for (var i = 0;i<data.list.length;i++){
                       var followUpGrate =data.list[i].followUpGrate;
                       var grate =  followUpGrate/100;
                        if (grate >= 0 && grate <= 20) {
                            grateStyle = "badge-danger";
                        }else if(grate > 20 && grate <=40){
                            grateStyle = "badge-warning";
                        }else if(grate > 40 && grate <=60){
                            grateStyle = "badge-info";
                        }else if(grate > 60 && grate <=80) {
                            grateStyle = "badge-success";
                        }else if(grate > 80 && grate <=100){
                            grateStyle = "badge-primary";
                        }
                        if (data.list[i].followUpStatus == 0){
                            followUpStatus = "开放";
                            style = "btn-primary";
                        }else {
                            followUpStatus = "关闭";
                            style = "btn-danger";
                        }
                        v += "<tr>";
                        v += '<td><input type="checkbox"></td>';
                        v += "<td>"+data.list[i].followUpName+"</td>"
                        v += '<td><span class="badge '+grateStyle+'">'+data.list[i].followUpGrate+'</span></td>'
                        v += "<td>"+data.list[i].followUpPrincipal+"</td>"
                        v += '<td><button type="button" class="btn '+style+'">'+followUpStatus+'</button></td>'
                        v += "<td>"+data.list[i].hospitalDepartmentChild.hospitalDepartmentChildName+"</td>"
                        v += "<td>"+data.list[i].followUpCreateTime+"</td>"
                        v += "</tr>";
                    }
                    $("#tbody").append(v);
                    var up = data.hasPreviousPage?data.prePage:1;
                    var down = data.hasNextPage?data.nextPage:data.lastPage;
                    var p = '<button type="button" onclick="reloadList(1)" class="layui-btn  layui-btn-normal layui-btn-sm">首页</button>';
                    p += '<button type="button" onclick="reloadList('+up+')" class="layui-btn  layui-btn-normal layui-btn-sm">上一页</button>';
                    p += '<button type="button" onclick="reloadList('+down+')" class="layui-btn  layui-btn-normal layui-btn-sm">下一页</button>';
                    p += '<button type="button" onclick="reloadList('+data.lastPage+')" class="layui-btn  layui-btn-normal layui-btn-sm">尾页</button>';
                    $("#page").append(p);
                }
            })
        }
        /*添加随访组*/
        function addSave(){
            $.ajax({
                url:"",
            })
        }
        var app = angular.module('myApp',[]);
        app.controller("myController",['$scope','$http',function($scope,$http){
            /*查询所有科室*/
            $http({
                method:'get',
                url:'findDepartmentAll',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (data) {
                $scope.departments = data;
            }).error(function (data) {

            });
        }])
    </script>
      <style>
          #header_style li{
              float: left;
              list-style: none;
              margin: 10px;
          }
          #li_style li{
              float: left;
              list-style: none;
          }
          #checkbox_style{
              width: 20px;
              height: 20px;
          }
      </style>
</head>
<body ng-app = "myApp" ng-controller="myController" data-ng-init = "list()" style="margin: 0; padding: 0;">
    <div class="group_management">
        <div id="page_top" style="margin-top: -20px">
            <ul id="header_style">
                <li><h4 style="margin-left: -50px; ">随访组管理</h4></li>
                <li><button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">新建随访组</button></li>
            </ul>
        </div><br /><br />
        <div id="header" style="width: 100%; height: 100px; background-color: #B3D7FF; ">
            <br/>
        <div class="row" style="margin-left: 50px; margin-top: -22px">
       <form>
           <table>
               <tr id="tr_style">
                   <td><label>负责人</label></td>
                   <td >
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="负责人" style="width: 150px ;height: 38px" id="followUpPrincipal">
                       </div>
                   </td>
                   <td><label style="margin-left: 100px; ">科室</label></td>
                   <td >
                       <div class="form-group" style="margin-left: 10px">
                           <select name="hospitalDepartmentChildName" class="form-control" style="width: 150px ;height: 38px" id="hospitalDepartmentChildName" ng-model="selectDepartmentAll" ng-options="department.hospitalDepartmentChildId as department.hospitalDepartmentChildName for department in departments"/>
                           <option value="">请选择科室</option>
                       </div>
                   </td>
                   <td><label style="margin-left: 100px ">状态</label></td>
                   <td >
                       <div class="form-group" style="margin-left: 20px;">
                           <select name="userState" class="form-control" style="width: 150px ;height: 38px" id="followUpStatus"/>
                           <option value="">请选择状态</option>
                           <option value="0">正常</option>
                           <option value="1">删除</option>
                       </div>
                   </td>
               </tr>
               <tr>
                   <td><label>创建时间</label></td>
                   <td >
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="选择开始时间" style="width: 150px ;height: 38px" id="followUpCreateTime1">
                       </div>
                   </td>
                   <td >
                       <div class="form-group">
                           <input type="text" class="form-control" placeholder="选择结束时间" style="width: 150px ;height: 38px" id="followUpCreateTime2">
                       </div>
                   </td>
               </tr>
           </table>
       </form>
            <div style="float: right; margin-left: -250px;margin-top: 60px;">
                <button class="btn btn-primary btn-sm" onclick="reloadList()">检索</button>
                <button class="btn btn-primary btn-sm" style="margin-left: 20px">清空</button>
            </div>
          </div>
        </div><br />
        <div id="show_form" style="text-align: center; margin-left: 50px;">
            <table style="margin-top: -20px">
                <tr>
                    <td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal2">编辑</button></td>
                    <td><button class="btn btn-primary btn-sm">删除</button></td>
                </tr>
            </table>
            <table class="table table-bordered table-hover " style="width: 1200px; height: 100%;">
                <thead>
                  <tr class="table-primary">
                    <td><input type="checkbox" id="checkbox_style"></td>
                    <th>名称</th>
                    <th>入组率</th>
                    <th>负责人</th>
                    <th>状态</th>
                    <th>科室</th>
                    <th>创建时间</th>
                  </tr>
                </thead>
                <tbody id="tbody">

                </tbody>
            </table>
        </div>
        <!--分页展示-->
        <div id="page">
        </div>
        <!-- 模态框（Modal） -->
        <!--添加-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="height: 40px">
                        <h5 class="modal-title" id="myModalLabel" style="margin-top: -10px">
                            新建随访组
                        </h5>
                    </div>
                    <div class="modal-body">
                        <form id="add_form">
                            <table>
                                <tr>
                                    <td><label style="width: 70px">责任医院</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select name="" class="form-control" style="width:210px; height: 38px;"/>
                                            <option value="">请选择医院</option>
                                            <option value="0">北京人民医院</option>
                                            <option value="1">北京协和医院</option>
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">责任科室</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select name="" class="form-control" style="width: 210px; height: 38px; margin-left: -215px"/> >
                                            <option value="">请选择科室</option>
                                            <option value="0">心内科</option>
                                            <option value="1">脑外壳</option>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">负责人</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="请输入负责人" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">级别</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select name="" class="form-control" style="width: 210px; height: 38px; margin-left: -215px" />
                                            <option value="">请选择级别</option>
                                            <option value="0">I级</option>
                                            <option value="1">II级</option>
                                            <option value="1">III级</option>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">名称</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="输入课题名称" style="width: 620px; height: 38px;">
                                        </div>
                                    </td>
                                </tr>
                               <!-- <tr>
                                    <td><label>创建人</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                    <td><label>创建时间</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </td>
                                </tr>-->
                                <tr>
                                    <td><label style="width: 70px">联系电话</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="输入联系电话" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">状态</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select name="" class="form-control" style="width: 210px; height: 38px;margin-left: -215px"/>
                                            <option value="">请选择状态</option>
                                            <option value="0">开放</option>
                                            <option value="1">关闭</option>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">开始日期</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="选择起始日期" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">结束日期</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="选择截止日期" style="width: 210px; height: 38px;margin-left: -215px">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">课题编号</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="输入课题编号" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">患者数量</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="输入患者数量" style="width: 210px; height: 38px;margin-left: -215px">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">对照组</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input name="" type="text" class="form-control" placeholder="输入对照组" style="width: 620px; height: 38px;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">背景</label></td>
                                    <td >
                                        <div class="form-group">
                                            <textarea name="" class="form-control" rows="2" placeholder="输入背景" style="width: 620px"></textarea>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" onclick="addSave()">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--修改-->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header" style="height: 40px">
                        <h5 class="modal-title" id="myModalLabel2" style="margin-top: -10px">
                            编辑随访组
                        </h5>
                    </div>
                    <div class="modal-body">
                        <form id="edit_form">
                            <table>
                                <tr>
                                    <td><label style="width: 70px">责任医院</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select id="" name="" class="form-control" style="width:210px; height: 38px;"/>
                                            <option value="">请选择医院</option>
                                            <option value="0">北京人民医院</option>
                                            <option value="1">北京协和医院</option>
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">责任科室</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select id="" name="" class="form-control" style="width: 210px; height: 38px; margin-left: -215px"/> >
                                            <option value="">请选择科室</option>
                                            <option value="0">心内科</option>
                                            <option value="1">脑外壳</option>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">负责人</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input type="text" id="" name="" class="form-control" placeholder="请输入负责人" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">级别</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select id="" name="" class="form-control" style="width: 210px; height: 38px; margin-left: -215px" />
                                            <option value="">请选择级别</option>
                                            <option value="0">I级</option>
                                            <option value="1">II级</option>
                                            <option value="1">III级</option>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">名称</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input id="" name="" type="text" class="form-control" placeholder="输入课题名称" style="width: 620px; height: 38px;">
                                        </div>
                                    </td>
                                </tr>
                                <!-- <tr>
                                     <td><label>创建人</label></td>
                                     <td >
                                         <div class="form-group">
                                             <input type="text" class="form-control">
                                         </div>
                                     </td>
                                     <td><label>创建时间</label></td>
                                     <td >
                                         <div class="form-group">
                                             <input type="text" class="form-control">
                                         </div>
                                     </td>
                                 </tr>-->
                                <tr>
                                    <td><label style="width: 70px">联系电话</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input id="" name="" type="text" class="form-control" placeholder="输入联系电话" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">状态</label></td>
                                    <td >
                                        <div class="form-group">
                                            <select id="" name="" class="form-control" style="width: 210px; height: 38px;margin-left: -215px"/>
                                            <option value="">请选择状态</option>
                                            <option value="0">开放</option>
                                            <option value="1">关闭</option>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">开始日期</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input id="" name="" type="text" class="form-control" placeholder="选择起始日期" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">结束日期</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input id="" name="" type="text" class="form-control" placeholder="选择截止日期" style="width: 210px; height: 38px;margin-left: -215px">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">课题编号</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input id="" name="" type="text" class="form-control" placeholder="输入课题编号" style="width: 210px; height: 38px;">
                                        </div>
                                    </td>
                                    <td><label style="width: 70px;margin-left: -290px">患者数量</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input id="" name="" type="text" class="form-control" placeholder="输入患者数量" style="width: 210px; height: 38px;margin-left: -215px">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">对照组</label></td>
                                    <td >
                                        <div class="form-group">
                                            <input id="" name="" type="text" class="form-control" placeholder="输入对照组" style="width: 620px; height: 38px;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label style="width: 70px">背景</label></td>
                                    <td >
                                        <div class="form-group">
                                            <textarea id="" name="" class="form-control" rows="2" placeholder="输入背景" style="width: 620px"></textarea>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            提交
                        </button>
                    </div>
                </div>
            </div>
        </div>


    </div>
</body>
</html>
