<!DOCTYPE html>
<html lang="en">
    <head>
        <title>复核明细</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link href="/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>

        <link href="css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="css/check_detail/styles.css" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" class="library" src="/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" class="library" src="/js/data_review/check_detail.js"></script>
      </head>
      <body>
        <div id="base" class="">
    
          <!-- Unnamed (矩形) -->
          <div id="u1651" class="ax_default paragraph">
            <div id="u1651_div" class=""></div>
            <div id="u1651_text" class="text ">
              <p><span>提出人 :</span></p>
            </div>
          </div>
    
          <!-- Unnamed (矩形) -->
          <div id="u1652" class="ax_default paragraph">
            <div id="u1652_div" class=""></div>
            <div id="u1652_text" class="text ">
              <p><span id="skeptic">随访员1</span></p>
            </div>
          </div>
    
          <!-- Unnamed (矩形) -->
          <div id="u1653" class="ax_default paragraph">
            <div id="u1653_div" class=""></div>
            <div id="u1653_text" class="text ">
              <p><span>提出时间:</span></p>
            </div>
          </div>
    
          <!-- Unnamed (矩形) -->
          <div id="u1654" class="ax_default paragraph">
            <div id="u1654_div" class=""></div>
            <div id="u1654_text" class="text ">
              <p><span id="proposalTime">&nbsp;2015-09-07&nbsp;&nbsp; 13:30</span></p>
            </div>
          </div>
    
          <!-- Unnamed (矩形) -->
          <div id="u1655" class="ax_default paragraph">
            <div id="u1655_div" class=""></div>
            <div id="u1655_text" class="text ">
              <p><span>修改为 :</span></p>
            </div>
          </div>

          <!-- Unnamed (矩形) -->
          <div id="u1657" class="ax_default paragraph">
            <div id="u1657_div" class=""></div>
            <div id="u1657_text" class="text ">
              <p><span>修改意见 :</span></p>
            </div>
          </div>
    
          <!-- Unnamed (多行文本框) -->
          <div id="u1658" class="ax_default text_area">
            <textarea id="u1658_input"></textarea>
          </div>
    
          <!-- Unnamed (文本框) -->
          <div id="u1659" class="ax_default text_field">
            <input id="u1659_input" type="text" value=""/>
          </div>
          <div id="u1656" class="ax_default shape">
            <div id="u1656_div" class=""></div>
            <div id="u1656_text" class="text ">
              <p><span style='cursor:pointer;' onclick="seveDataReview()">保 存</span></p>
            </div>
          </div>
        </div>
      </body>

</html>