<!DOCTYPE html>
<html lang="en">
    <head>
        <title>数据复核</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link href="css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="/css/data_review/styles.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" class="library" href="bootstarp/css/bootstrap.min.css">
        <script type="text/javascript" class="library" src="/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" class="library" src="bootstarp/js/bootstrap.min.js"></script>
        <script type="text/javascript" class="library" src="js/WdatePicker.js"></script>
        <script type="text/javascript" src="js/data_review/data_review.js"></script>
        <script type="text/javascript" src="js/checkBox.js"></script>
      </head>
<body>
    <div id="base" class="">
        <!-- Unnamed (矩形) -->
      <div id="u1564" class="ax_default shape">
        <div id="u1564_div" class=""></div>
      </div>
      <form class="form-horizontal" id="form1">
        <div id="u1606" class="ax_default paragraph">
            <div class="form-group">
                <label class="col-sm-2 control-label" style="width: auto;">随访组名称：</label>
                <div class="col-sm-10" style="width: auto;">
                  <select name="followUpId" style="width: 148px;height: 22px;font-size:3px">
                    <option value="0">-请选择-</option>
                    <option value="1">随访组1</option>
                    <option value="2">随访组2</option>
                </select>
                </div>
              </div>
            </div>
            <div id="u1613" class="ax_default paragraph">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: auto;">患者：</label>
                    <div class="col-sm-10" style="width: auto;">
                        <input name="patient" class="form-control" style="width: 148px;height: 22px;font-size:13px">
                    </div>
                </div>
            </div>
            <div id="u1622" class="ax_default paragraph">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: auto;">数据项：</label>
                    <div class="col-sm-10" style="width: auto;">
                        <input name="dataItem" class="form-control" style="width: 148px;height: 22px;font-size:13px">
                    </div>
                </div>
            </div>
            <div id="u1623" class="ax_default paragraph">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: auto;">质疑者：</label>
                    <div class="col-sm-10" style="width: auto;">
                        <input name="skeptic" class="form-control" style="width: 148px;height: 22px;font-size:13px">
                    </div>
                </div>
            </div>
            <div id="u1625" class="ax_default paragraph">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: auto;">复核者：</label>
                    <div class="col-sm-10" style="width: auto;">
                        <input name="review" class="form-control" style="width: 148px;height: 22px;font-size:13px">
                    </div>
                </div>
            </div>
            <div id="u1627" class="ax_default paragraph">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: auto;">复合时间：</label>
                    <div class="col-sm-10" style="width: auto;">
                        <input name="reviewDate" class="form-control" style="width: 148px;height: 22px;font-size:13px" onclick=WdatePicker({dateFmt:'yyyy-MM-dd'}) readonly="readonly">
                    </div>
                </div>
            </div>
            <div id="u1610" class="ax_default paragraph">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: auto;">表单名称：</label>
                    <div class="col-sm-10" style="width: auto;">
                      <select name="form" style="width: 148px;height: 22px;font-size:3px">
                        <option value="0">-请选择-</option>
                        <option value="0">基本信息</option>
                        <option value="0">检验检查</option>
                    </select>
                    </div>
                  </div>
            </div>
            <div id="u1618" class="ax_default paragraph">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="width: auto;">状态：</label>
                    <div id="u1619" class="ax_default checkbox">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input name="reviewState" type="checkbox" value="0"> 待复核
                            </label>
                            <label>
                              <input name="reviewState" value="1" type="checkbox"> 已修正
                            </label>
                            <label>
                              <input name="reviewState" value="2" type="checkbox"> 撤回
                            </label>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
            <div id="u1607" class="ax_default shape">
                <div id="u1607_div" class=""></div>
                <div id="u1607_text" class="text ">
                  <p><span style='cursor:pointer;' type="button" onclick="fenye(1)">检 索</span></p>
                </div>
            </div>
              <!-- Unnamed (矩形) -->
            <div id="u1608" class="ax_default shape">
                <div id="u1608_div" class=""></div>
                <div id="u1608_text" class="text ">
                <p><span style='cursor:pointer;' type="button" onclick="qingkong()">清 空</span></p>
                </div>
            </div>
          
      </form>
   
      <!-- Unnamed (表格) -->
      <div id="u1565" class="ax_default table">
        <table id="tb" class="table table-hover" >
            <thead style="background-color: #E7E7E7;">
                <tr>
                    <td><input id="checkAll" onclick="checkAll()" type="checkbox"></td>
                    <td>随访组名称</td>
                    <td>表单</td>
                    <td>数据项</td>
                    <td>患者</td>
                    <td>值</td>
                    <td>质疑者</td>
                    <td>复核者</td>
                    <td>状态</td>
                    <td>复合时间</td>
                    <td>复核</td>
                </tr>
            </thead>
            <tbody id="tbody" style="vertical-align: middle;">
                <tr>
                    <td><input type="checkbox"></td>
                    <td>随访组1</td>
                    <td>基本信息</td>
                    <td>身高</td>
                    <td>张三</td>
                    <td>175</td>
                    <td>随访员1</td>
                    <td></td>
                    <td>待复核</td>
                    <td></td>
                    <td><img class="img " src="img/u167.png"/></td>
                </tr>
            </tbody>
          </table>
          <nav aria-label="Page navigation">
              <ul id="fenye" class="pagination">
                  <li>
                      <a href="#">
                          <span>首页</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                      <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span>尾页</span>
                      </a>
                  </li>
              </ul>
          </nav>
      </div>

    </div>
</body>
</html>