<!DOCTYPE html>
<html lang="en">
    <head>
        <title>随访计划</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link href="/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="css/followUp_plan/styles.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" class="library" href="/bootstarp/css/bootstrap.css">

        <script src="css/followUp_plan/data.js"></script>
        
      </head>
<body>
    <div id="base">
        <div id="u1852" class="ax_default">

            <table id="tb" class="table table-bordered">
                <thead style="background-color: #199ED8;">
                    <tr style="height: 40px;">
                        <td>序号</td>
                        <td>随访时间</td>
                        <td>随访组</td>
                        <td>科室</td>
                        <td>随访状态</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2020-07-06</td>
                        <td>随访组1</td>
                        <td>科室1</td>
                        <td>未随访</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2020-07-06</td>
                        <td>随访组1</td>
                        <td>科室1</td>
                        <td>未随访</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="u1898" class="ax_default shape">
            <div id="u1898_div" class=""></div>
            <div id="u1898_text" class="text ">
                <p><span style='cursor:pointer;'>导出为Excel</span></p>
            </div>
        </div>
    </div>
</body>
</html>