<!DOCTYPE html>
<html lang="en">
    <head>
        <title>患者详细画面</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <link href="/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
        <link href="/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
        <link href="css/styles.css" type="text/css" rel="stylesheet"/>
        <link href="css/patients_with_details/styles.css" type="text/css" rel="stylesheet"/>

        <script src="css/patients_with_details/data.js"></script>
        <link rel="stylesheet" type="text/css" href="bootstarp/css/bootstrap.css">
    </head>
<body>
    <div id="base" class="">
    <!-- Unnamed (水平线) -->
    <div id="u1660" class="ax_default horizontal_line">
        <img id="u1660_img" class="img " src="img/u1660.png"/>
      </div>

      <!-- Unnamed (垂直线) -->
      <div id="u1661" class="ax_default vertical_line">
        <img id="u1661_img" class="img " src="img/u1661.png"/>
      </div>
      <div id="u1111">
          <!-- 姓名 -->
            <div id="u1662" class="ax_default label">
                <div id="u1662_div" class=""></div>
                <div id="u1662_text" class="text ">
                    <p><span>刘杨</span></p>
                </div>
            </div>
            <!-- 性别 -->
            <div id="u1663" class="ax_default label">
                <div id="u1663_div" class=""></div>
                <div id="u1663_text" class="text ">
                  <p><span>男</span></p>
                </div>
            </div>
            <!-- 住院号 -->
            <div id="u1664" class="ax_default label">
                <div id="u1664_div" class=""></div>
                <div id="u1664_text" class="text ">
                  <p><span>住院号 2198657</span></p>
                </div>
            </div>
            <!-- 出生日期 -->
            <div id="u1665" class="ax_default label">
                <div id="u1665_div" class=""></div>
                <div id="u1665_text" class="text ">
                  <p><span>出生日期 1940-08-24</span></p>
                </div>
            </div>
            <div id="u1666" class="ax_default paragraph">
                <div id="u1666_div" class=""></div>
                <div id="u1666_text" class="text ">
                  <p><span style="text-decoration:underline;">返回</span></p>
                </div>
            </div>
            <!-- Unnamed (图片) -->
            <div id="u1667" class="ax_default image">
                <img id="u1667_img" class="img " src="img/u107.png"/>
            </div>
            <div id="u1799" class="ax_default shape">
                <img id="u1799_img" class="img " src="img/u1799.png"/>
                <div id="u1799_text" class="text ">
                  <p><span>选择诊疗方案</span></p>
                </div>
            </div>
            <div id="u1800" class="ax_default label">
                <div id="u1800_div" class=""></div>
                <div id="u1800_text" class="text ">
                  <p><span>方案名称1、方案名称2</span></p>
                </div>
            </div>
      </div>
    <div id="u222">
        <div id="u1828" class="ax_default label">
            <div id="u1828_div" class=""></div>
            <div id="u1828_text" class="text ">
              <p><span>随访进度及计划</span></p>
            </div>
        </div>
        <div id="u1801" class="ax_default">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>基本信息</td>
                        <td>体格检查</td>
                        <td>实验室检查</td>
                        <td>随访信息表</td>
                        <td>查看完成随访计划</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <!-- Unnamed (水平线) -->
            <div id="u1829" class="ax_default horizontal_line">
                <img id="u1829_img" class="img " src="img/u1829.png"/>
            </div>
        </div>
    </div>
        <div id="u333">
            <!-- Unnamed (矩形) -->
            <div id="u1822" class="ax_default shape">
                <div id="u1822_div" class=""></div>
                <div id="u1822_text" class="text ">
                    <p><span>保存</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1823" class="ax_default shape">
                <div id="u1823_div" class=""></div>
                <div id="u1823_text" class="text ">
                    <p><span>删除</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u1824" class="ax_default shape">
                <div id="u1824_div" class=""></div>
                <div id="u1824_text" class="text ">
                    <p><span>履历</span></p>
                </div>
            </div>

            <div id="u1719" class="ax_default label">
                <div id="u1719_div" class=""></div>
                <div id="u1719_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">| </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">基本信息</span></p>
                </div>
            </div>
            <!-- 基本信息列表 -->
            <div>

            </div>

            <div id="u1728" class="ax_default label">
                <div id="u1728_div" class=""></div>
                <div id="u1728_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">| </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">体格检查</span></p>
                </div>
              </div>
              <!-- 体格检查列表 -->
              <div>

              </div>

              <!-- Unnamed (矩形) -->
            <div id="u1737" class="ax_default label">
                <div id="u1737_div" class=""></div>
                <div id="u1737_text" class="text ">
                <p><span style="font-family:'Arial Normal', 'Arial';">| </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">实验室检查</span></p>
                </div>
            </div>
            <!-- 实验室检查列表 -->
            <div>

            </div>

            <div id="u1747" class="ax_default label">
                <div id="u1747_div" class=""></div>
                <div id="u1747_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">| </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">症状</span></p>
                </div>
            </div>
            <div id="symptom">
                症状：<select>
                    <option value="0">-请选择-</option>
                </select>
            </div>
        </div>
        <!-- Unnamed (垂直线) -->
        <div id="u1750" class="ax_default vertical_line">
            <img id="u1750_img" class="img " src="img/u1750.png"/>
        </div>
            <!-- 动态面板 -->
        <div id="u444">
            <div id="u1751" class="ax_default label">
                <div id="u1751_div" class=""></div>
                <div id="u1751_text" class="text ">
                  <p><span>原始数据</span></p>
                </div>
            </div>

            <div id="u1753" class="ax_default label">
                <div id="u1753_div" class=""></div>
                <div id="u1753_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">| </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">基本信息</span></p>
                </div>
            </div>
  
              <!-- Unnamed (矩形) -->
            <div id="u1754" class="ax_default label">
                <div id="u1754_div" class=""></div>
                <div id="u1754_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">| </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">体格检查</span></p>
                </div>
            </div>
  
              <!-- Unnamed (矩形) -->
            <div id="u1755" class="ax_default label">
                <div id="u1755_div" class=""></div>
                <div id="u1755_text" class="text ">
                  <p><span style="font-family:'Arial Normal', 'Arial';">| </span><span style="font-family:'PingFangSC-Regular', 'PingFang SC';">实验室检查</span></p>
                </div>
            </div>
        </div>
        
      
      
      
    </div>
</body>
</html>