body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:473px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1651 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:41px;
  width:61px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u1652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1652 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:42px;
  width:68px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u1653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:37px;
  width:71px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:37px;
  width:136px;
  height:24px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u1655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:68px;
  width:74px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1656_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(1, 163, 236, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:228px;
  width:61px;
  height:26px;
  font-family:'华文细黑 Bold', '华文细黑 Regular', '华文细黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-5px !important;
  width:57px;
  word-wrap:break-word;
}
#u1657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:105px;
  width:77px;
  height:16px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  color:#0877C3;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  word-wrap:break-word;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:116px;
  width:373px;
  height:100px;
}
#u1658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:75px;
  width:373px;
  height:25px;
}
#u1659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
