<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>模板列表</title>
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <script src="js/template_setting/jquery-2.2.3.min.js"></script>
    <script src="js/template_setting/bootstrap.min.js"></script>
    <style>
        html{
            width: 50%;
        }
    </style>
</head>
<body>

<button class="btn btn-info">创建模板</button>
<table class="table table-bordered">
    <thead>
    <tr class="info">
        <th>模板名称</th>
        <th>更新日期</th>
        <th>更新者</th>
        <th>版本号</th>
        <th>创建日期</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
        <td rowspan="2">基本信息</td>
        <td>2015-06-01</td>
        <td>赵四</td>
        <td>001</td>
        <td>2015-06-01</td>
        <td>当前版本</td>
        <td>修改</td>
    </tr>
    <tr class="active">
        <td>2015-06-01</td>
        <td>赵四</td>
        <td>001</td>
        <td>2015-06-01</td>
        <td>当前版本</td>
        <td>修改</td>
    </tr>
    <tr class="active">
        <td rowspan="2">实验室检查</td>
        <td>2015-06-01</td>
        <td>赵四</td>
        <td>001</td>
        <td>2015-06-01</td>
        <td>当前版本</td>
        <td>修改</td>
    </tr>
    <tr class="active">
        <td>2015-06-01</td>
        <td>赵四</td>
        <td>001</td>
        <td>2015-06-01</td>
        <td>当前版本</td>
        <td>修改</td>
    </tr>
    </tbody>
</table>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
</body>
</html>