<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>入组管理</title>
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
		<!--<link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/popper.js/umd/popper.min.js"> </script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<!--<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>-->
		<script type="text/javascript">
            function changePage(url) {
                $("#iframe").prop("src",url);
            }
		</script>
	</head>
	<body>
		<div class="joingroup_page">
			<div class="joingroup_head" style="margin-left: 50px;">
				<table >
					<tr>
						<td><a href="/toFollowupManagement">返回随访组</a></td>
						<td><button class="btn btn-primary btn-sm">入组范围</button></td>
						<td><a class="btn btn-primary btn-sm" href="/joinGroupTime">入组时间</a></td>
					</tr>
				</table>
			</div>
			<hr />
			<div class="joingroup_content" style="width: 100%; height: 100%;">
				<div class="left_content" style="float: left; margin-left: 50px;">
					<table class="iframe_content">
						<tr>
							<td>
								<a style="margin-top: 60px;width: 100px;height: 35px;" class="btn btn-info btn-sm" onclick="changePage('accordingAdministrative')" target="iframe">按科室</a>
							</td>
						</tr>
						<tr>
							<td>
								<a style="margin-top: 20px;width: 100px;height: 35px;" class="btn btn-info btn-sm" onclick="changePage('accordingDisease')" target="iframe">按病种</a>
							</td>
						</tr>
						<tr>
							<td>
								<a style="margin-top: 20px;width: 100px;height: 35px;" class="btn btn-info btn-sm" onclick="changePage('accordingPerson')" target="iframe">按人员</a>
							</td>
						</tr>
						<tr>
							<td>
								<a style="margin-top: 20px;width: 100px;height: 35px;" class="btn btn-info btn-sm" onclick="changePage('customCondition')" target="iframe">自定义条件</a>
							</td>
						</tr>
						<tr>
							<td>
								<a style="margin-top: 20px;width: 100px;height: 35px;" class="btn btn-info btn-sm" onclick="changePage('accordingResult')" target="iframe">按结果集</a>
							</td>
						</tr>
					</table>
					
				</div>
				<div style="float:left; margin-top: 0px; margin-left: 30px;  width: 2px;height:600px; background: darkgray;"></div>
				<div class="right_content" style="float: left; margin-left:700px;width: 100%; height: 500px; margin-top: -600px;border-style: none">
					<div class="right_head" style="margin-left: -500px">
						<table>
							<tr>
								<td>
									<div class="checkbox">
										<label>
											<input type="checkbox"><span>自动同步患者</span>
										</label>
									</div>
								</td>
								<td><div class="col-lg-2">
									</div>
								</td>
								<td>
									<div class="checkbox">
										<label>
											<input type="checkbox"><span>是否需要确认</span>
										</label>
									</div>
								</td>
							</tr>
						</table>
					</div>
                    <div class="content-wrapper" style="height: 100%;width: 100%;margin-left: -500px;overflow-x: hidden;overflow-y: hidden">
                        <iframe width="100%" height="100%" id="iframe" name="iframe" large-header="0" frameborder="0"  src="/accordingAdministrative"></iframe>
                    </div>
				</div>
			</div>
		</div>
            </div>
        </div>
	</body>
</html>
