<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/upload.css">
    <link rel="stylesheet" href="css/follow_management/default.css">
    <link rel="stylesheet" href="css/follow_management/fileinput.css">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/fileinput.js"></script>
    <script src="js/fileinput_locale_cz.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
  /*    function up(){
           var formData = new FormData();
           formData.append("file",$('#file')[0].files[0]);
           $.ajax({
               url:"uploadFile",
               data:formData,
               type:"post",
               dataType:"json",
               processData:false,
               contentType:false,
               success:function(data){
                   location.reload();
               }
           })
       }*/
       $("#file-1").fileinput({
           uploadUrl: 'uploadFile',
           allowedFileExtensions : ['jpg', 'png','gif','txt','zip','ico','jpeg','js','css','java','mp3','mp4','doc','docx'],//允许的文件类型
           overwriteInitial: false,
           maxFileSize: 1500,//文件的最大大小 单位是k
           maxFilesNum: 10,//最多文件数量
           slugCallback: function(filename) {
               return filename;
           },success:function (filename) {
               alert("上传成功");
           }
       });
    </script>
</head>
<body>
<form enctype="multipart/form-data">
    　　<input id="file-1" name="file" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1"/>
</form>
</body>
</html>